/* Assets of landpage */
.landpage-assets {
	margin: auto;
	max-width: 75%;
	animation: fadein 1s 1;
}
.landpage-assets ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1em, auto);
    align-content: center;
    justify-content: center;
    width: auto;
	height: auto;
    margin: auto;
    padding: 0.4em;
    border-radius: 0.5em;
    font-family: SpaceMonoNerdFontCompleteMono Monospace;
    font-size: 180%;
	animation: fadein 1s 1;
}
@media only screen and (max-width: 960px) {
    .landpage-assets ul {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.landpage-assets ul :hover {
	animation: glitch4 0.25s 1;
}
.landpage-assets ul li a:hover {
	animation: glitch5 0.25s 1;
}
.landpage-assets-partial.landpage-asset1 a {
    color: var(--primary-color);
}
.landpage-assets-partial.landpage-asset1 {
    display: grid;
    width: auto;
    align-content: center;
    justify-content: center;
    margin: 0.3em;
    padding: 0.5em;
    background-color: var(--background-secondary-color);
    border: solid 1px var(--primary-color);
	text-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
	box-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
    border-radius: 0.3em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.landpage-assets-partial.landpage-asset2 a {
    color: var(--septenary-color);
}
.landpage-assets-partial.landpage-asset2 {
    display: grid;
    width: auto;
    align-content: center;
    justify-content: center;
    margin: 0.3em;
    padding: 0.5em;
    background-color: var(--background-secondary-color);
    border: solid 1px var(--septenary-color);
	text-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
	box-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
    border-radius: 0.3em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
@media only screen and (max-width: 960px) {
    .landpage-assets-partial.landpage-asset2 {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}
.landpage-assets-partial.landpage-asset3 a {
    color: var(--senary-color);
}
.landpage-assets-partial.landpage-asset3 {
    display: grid;
    width: auto;
    align-content: center;
    justify-content: center;
    margin: 0.3em;
    padding: 0.5em;
    background-color: var(--background-secondary-color);
    border: solid 1px var(--senary-color);
	text-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
	box-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
    border-radius: 0.3em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
@media only screen and (max-width: 960px) {
    .landpage-assets-partial.landpage-asset3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}
.landpage-assets-partial.landpage-asset4 a {
    color: var(--quinary-color);
}
.landpage-assets-partial.landpage-asset4 {
    display: grid;
    width: auto;
    align-content: center;
    justify-content: center;
    margin: 0.3em;
    padding: 0.5em;
    background-color: var(--background-secondary-color);
    border: solid 1px var(--quinary-color);
	text-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
	box-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
    border-radius: 0.3em;
    grid-row-start: 1;
    grid-row-end: 8;
}
@media only screen and (max-width: 960px) {
    .landpage-assets-partial.landpage-asset4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 6;
    }
}
.landpage-assets-partial.landpage-asset5 a {
    color: var(--quaternary-color);
}
.landpage-assets-partial.landpage-asset5 {
    display: grid;
    width: auto;
    align-items: center;
    justify-content: center;
    margin: 0.3em;
    padding: 0.5em;
    background-color: var(--background-secondary-color);
    border: solid 1px var(--quaternary-color);
	text-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
	box-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
    border-radius: 0.3em;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 8;
}
@media only screen and (max-width: 960px) {
    .landpage-assets-partial.landpage-asset5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}
.landpage-assets-partial.landpage-asset6 a {
    color: var(--tertiary-color);
}
.landpage-assets-partial.landpage-asset6 {
    display: grid;
    width: auto;
    align-content: center;
    justify-content: center;
    margin: 0.3em;
    padding: 0.5em;
    background-color: var(--background-secondary-color);
    border: solid 1px var(--tertiary-color);
    border-radius: 0.3em;
	text-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
	box-shadow: 1px 1px 3px var(--tertiary-color), -1px -1px 3px var(--secondary-color);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
}
@media only screen and (max-width: 960px) {
    .landpage-assets-partial.landpage-asset6 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }
}
