@media (prefers-color-scheme: dark){
	:root {
		--background-main-color: #111;
		--background-secondary-color: #222;
		--foreground-main-color: #fff;
		--foreground-secondary-color: #ddd;
		--foreground-tertiary-color: #bbb;
		--primary-color: #9932cc;
		--secondary-color: #0065fe;
		--tertiary-color: #fe00a4;
		--quaternary-color: #fe004a;
		--quinary-color: #fe9300;
		--senary-color: #c5fe00;
		--septenary-color: #00fe00;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--background-main-color: #fff;
		--background-secondary-color: #eee;
		--foreground-main-color: #111;
		--foreground-secondary-color: #222;
		--foreground-tertiary-color: #333;
		--primary-color: #9932cc;
		--secondary-color: #0065fe;
		--tertiary-color: #fe00a4;
		--quaternary-color: #fe004a;
		--quinary-color: #fe9300;
		--senary-color: #c5fe00;
		--septenary-color: #00fe00;
	}
}
