:root {
	--primary-font: SpaceMonoNerdFontCompleteMono;
	--secondary-regular-font: PTMono-Regular;
	--secondary-bold-font: PTMono-Bold;
	--tertiary-font: SourceCodeVariable-Roman;
}
@font-face {
    font-family: "SpaceMonoNerdFontCompleteMono Monospace";
    src: url('/fonts/SpaceMonoNerdFontCompleteMono/SpaceMonoNerdFontCompleteMono.woff2') format("woff2");
    src: url('/fonts/SpaceMonoNerdFontCompleteMono/SpaceMonoNerdFontCompleteMono.woff') format("woff");
    src: url('/fonts/SpaceMonoNerdFontCompleteMono/SpaceMonoNerdFontCompleteMono.ttf') format("truetype");
}
@font-face {
    font-family: "PTMono-Regular Monospace";
    src: url('/fonts/PTMono/pt-mono.regular.woff2') format("woff2");
    src: url('/fonts/PTMono/pt-mono.regular.woff') format("woff");
    src: url('/fonts/PTMono/pt-mono.regular.ttf') format("truetype");
}
@font-face {
    font-family: "PTMono-Bold Monospace";
    src: url('/fonts/PTMono/pt-mono.bold.woff2') format("woff2");
    src: url('/fonts/PTMono/pt-mono.bold.woff') format("woff");
    src: url('/fonts/PTMono/pt-mono.bold.ttf') format("truetype");
}
@font-face {
    font-family: "SourceCodeVariable-Roman Monospace";
    src: url('/fonts/SourceCodeVariable-Roman/SourceCodeVariable-Roman.woff2') format("woff2");
    src: url('/fonts/SourceCodeVariable-Roman/SourceCodeVariable-Roman.woff') format("woff");
    src: url('/fonts/SourceCodeVariable-Roman/SourceCodeVariable-Roman.ttf') format("truetype");
}
