.footer {
}
.landpage-footer-background {
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--foreground-main-color);
    background-color: var(--background-main-color);
}
.landpage-footer-menu-container ol li a:hover {
	animation: glitch1 1s infinite;
}
.landpage-footer-menu-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    font-family: SpaceMonoNerdFontCompleteMono Monospace;
    font-size: 1.3em;
    color: var(--foreground-main-color);
    list-style: none;
    text-decoration: none;
}
@media only screen and (max-width: 960px) {
    .landpage-footer-menu-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.landpage-footer-menu-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    text-decoration: none;
}
@media only screen and (max-width: 960px) {
    .landpage-footer-menu-container ol {
        display: grid;
        grid-template-columns: 1fr;
		margin: 0.2em;
    }
}
.landpage-footer-menu-container ul li {
    display: grid;
    width: auto;
    margin: 0.2em;
}
.landpage-footer-menu-container ul li a {
    display: grid;
    margin: 0.2em;
    align-content: center;
    justify-content: center;
    font-family: SpaceMonoNerdFontCompleteMono Monospace;
    font-size: 0.8em;
    color: var(--primary-color);
    list-style: none;
    text-decoration: none;
	text-shadow: 1px 1px 3px var(--tertiary-color);
}
.footer-love-final {
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    font-family: SpaceMonoNerdFontCompleteMono Monospace;
    color: var(--tertiary-color);
	text-shadow: 1px 1px 3px var(--tertiary-color);
}
.footer-love-final:hover {
	animation: glitch5 0.15s 1;
}
.footer-love-text {
    display: flex;
}
.footer-laravel-and-php-versions{
    display: flex;
}
