.form-core {
    size: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em;
    border: solid 1px black;
    border-radius: 0.5em;
}
