@keyframes fadein {
	0% {
		transform: none;
		opacity: 0;
	}
	100% {
		transform: none;
		opacity: 1;
	}
}
@keyframes glitch1 {
	0% {
	  transform: skew(-2deg, 0.6deg);
	  opacity: 1;
	}
			50% {
	  transform: skew(-2deg, 0.6deg);
	  opacity: 0.75;
	}
	100% {
	  transform: none;
	  opacity: 1;
	}
}
@keyframes glitch2 {
	0% {
	  transform: none;
	  opacity: 0.1;
	}
	15% {
	  transform: translate(7px, 2px);
	  opacity: 1;
	}
	25% {
	  transform: skew(-4deg, 0.6deg);
	  opacity: 0.3;
	}
	40% {
	  transform: skew(-0.5deg, 3deg);
	  opacity: 1;
	}
	100% {
	  transform: none;
	  opacity: 0.1;
	}
}
@keyframes glitch3 {
	0% {
	  transform: none;
	  opacity: 0.25;
	}
	50% {
	  transform: translate(3px, 1px);
	  opacity: 0.5;
	}
	100% {
	  transform: none;
	  opacity: 0.25;
	}
}
@keyframes glitch4 {
	0% {
	  transform: none;
	  opacity: 0.25;
	}
	10% {
	  transform: translate(5px, 1px);
	  opacity: 0.8;
	}
	20% {
	  transform: translate(5px, 2px);
	  opacity: 0.15;
	}
	30% {
	  transform: none;
	  opacity: 0.15;
	}
	40% {
	  transform: none;
	  opacity: 0.95;
	  box-shadow: 1px 1px 8px var(--tertiary-color), -1px -1px 8px var(--secondary-color);
	  text-shadow: 1px 1px 12px var(--tertiary-color), -1px -1px 12px var(--secondary-color);
	}
	50% {
	  transform: translate(-3px, -10px);
	  opacity: 0.1;
	}
	60% {
	  transform: translate(-3px, -7px);
	  opacity: 0.9;
	}
	70% {
	  transform: translate(-2px, -4px);
	  opacity: 1;
	  box-shadow: 1px 1px 7px var(--tertiary-color), -1px -1px 7px var(--secondary-color);
	  text-shadow: 1px 1px 12px var(--tertiary-color), -1px -1px 12px var(--secondary-color);
	}
	80% {
	  transform: none;
	  opacity: 0.1;
	}
	90% {
	  transform: none;
	  opacity: 0.7;
	}
	100% {
	  transform: none;
	  opacity: 1;
	}
}
@keyframes glitch5 {
	0% {
	  transform: none;
	  opacity: 0.25;
	}
	10% {
	  transform: translate(5px, 1px);
	  opacity: 0.8;
	}
	20% {
	  transform: translate(5px, 2px);
	  opacity: 0.15;
	}
	30% {
	  transform: none;
	  opacity: 0.15;
	}
	40% {
	  transform: none;
	  opacity: 0.95;
	  text-shadow: 1px 1px 9px var(--tertiary-color), -1px -1px 9px var(--secondary-color);
	}
	50% {
	  transform: translate(-3px, -10px);
	  opacity: 0.1;
	}
	60% {
	  transform: translate(-3px, -7px);
	  opacity: 0.9;
	}
	70% {
	  transform: translate(-2px, -4px);
	  opacity: 1;
	  text-shadow: 1px 1px 12px var(--tertiary-color), -1px -1px 12px var(--secondary-color);
	}
	80% {
	  transform: none;
	  opacity: 0.1;
	}
	90% {
	  transform: none;
	  opacity: 0.7;
	}
	100% {
	  transform: none;
	  opacity: 1;
	}
}
