body {
    background-color: var(--background-main-color);
}
a {
    color: var(--foreground-main-color);
    text-decoration: none;
}
li {
    text-decoration: none;
    font-family: SpaceMonoNerdFontCompleteMono Monospace;
    color: var(--foreground-main-color);
}
.landpage-background {
    background-color: var(--background-main-color);
}
