.landpage-navbar {
    display: flex;
    flex-flow: row wrap;
    border-bottom: solid 1px var(--foreground-tertiary-color);
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-main-color);
}
@media only screen and (max-width: 960px) {
    .landpage-navbar {
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: space-between;
    }
}
.landpage-navbar-logo {
	animation: glitch2 0.2s 1;
}
.landpage-navbar-logo:hover {
	animation: glitch5 0.2s 1;
}
.landpage-navbar-title {
    display: flex;
    flex-flow: row wrap;
    font-family: var(--tertiary-font) Monospace;
	font-weight: 500;
    font-size: 2em;
    color: var(--primary-color);
	text-shadow: 1px 1px 3px var(--tertiary-color), 0 0 3px var(--secondary-color);
}
.landpage-navbar-title-text {
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
	animation: glitch2 0.2s 1;
}
.landpage-navbar-title-text:hover {
	animation: glitch5 0.2s 1;
}
.landpage-navbar-authblock-container {
    display: grid;
}
.authblock {
    display: grid;
    grid-template-columns: 1fr;
	padding: 1em;
	animation: glitch2 0.2s 1;
}
.authblock:hover {
	animation: glitch1 0.2s 1;
}
.authblock a {
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--primary-font) Monospace;
    font-size: 1.3em;
    color: var(--primary-color);
    text-decoration: none;
	text-shadow: 1px 1px 3px var(--tertiary-color);
}
@media only screen and (max-width: 960px) {
    .authblock {
        grid-template-columns: 1fr;
    }
}
.landpage-navbar-menu {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: var(--background-main-color);
    color: var(--primary-color);
    border-bottom: solid 1px var(--foreground-tertiary-color);
}
.landpage-navbar-menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0.2em;
    padding: 0.2em;
    align-content: center;
    justify-content: center;
}
.landpage-navbar-menu ul li {
    display: grid;
    width: 95%;
    align-content: center;
    justify-content: center;
    margin: auto;
    font-family: var(--primary-font) Monospace;
    font-size: 1.3em;
    color: var(--primary-color);
    list-style: none;
}
.landpage-navbar-menu ul li a {
    margin: auto;
    color: var(--primary-color);
    list-style: none;
    text-decoration: none;
	text-shadow: 1px 1px 3px var(--secondary-color);
	animation: fadein 1s 1;
}
.landpage-navbar-menu ul li a:hover {
	animation: glitch1 1s infinite;
}
