.landpage-main-content-text {
    margin: auto;
	max-width: 70%;
    font-family: var(--tertiary-font) Monospace;
	animation: fadein 1s 1;
}
.landpage-main-content-text h1 {
    text-align: center;
    font-family: var(--secondary-regular-font) Monospace;
	color: var(--foreground-tertiary-color);
}
.landpage-main-content-text p {
	color: var(--foreground-main-color);
    text-align: justify;
}
